<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ollama_proxy</string>
    <key>ProgramArguments</key>
    <array>
        <string>bash</string>
        <string>-c</string>
        <string>cd ~/.ollama_proxy ; python3 -m venv venv ; ~/.ollama_proxy/venv/bin/python ~/.ollama_proxy/server.py</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/ollama_proxy.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/ollama_proxy_error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>

