<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.simonferns.comfy.comfyui_api_startup_expose</string>
        <key>ProgramArguments</key>
        <array>
            <string>~/ComfyUI/venv/bin/python</string>
            <string>~/ComfyUI/main.py</string>
            <string>--lowvram</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/ollama_pulic.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/ollama_public.out</string>
    </dict>
</plist>
